
<footer class="row bg-dark text-white p-4 justify-content-center flex-column align-items-center animate__animated animate__fadeInUp">

    <div class="mb-2">
        &copy; Todos los derechos reservados | HowToFp
    </div>

    <div class="">
        <a class="text-secondary mx-2" href="#">Términos y condiciones</a>
        <a class="text-secondary mx-2" href="#">Política de privacidad</a>
        <a class="text-secondary mx-2" href="#">Cookies</a>
    </div>

</footer>
