
<footer class="row bg-secondary text-white p-3 justify-content-center flex-column align-items-center">
    <p class="mb-1">&copy; Todos los derechos reservados - {{ website.title }}</p>
    <p class="mb-0">Diseñado y Desarrollado por <a class="text-light" href="http://www.tibelian.com" title="" target="_blank">Tibelian</a></p>
</footer>
