
<header class="d-flex w-100 bg-secondary p-2">
    <a class="text-white" href="{{ website.url }}" target="_blank"><i class="fas fa-external-link-square-alt"></i> Abrir página {{ website.title }}</a>
    <div class="d-flex ml-auto">
        <div class="dropdown mr-1 p-0">
            <button type="button" class="p-0 px-2 btn btn-secondary dropdown-toggle" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,10">
                {{ session.user.login }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownUser">
            <a class="dropdown-item" href="#">Ajustes</a>
            <form method="post" action="#">
                <input type="hidden" name="ajax_url" value="{{ website.url }}/ajax/administrator/logout">
                <input type="hidden" name="callback" value="redirectHome">
                <button type="submit" class="dropdown-item">Cerrar sesión</button>
            </form>
        </div>
  </div>
</header>

<div id="alert-container"></div>
