<!doctype html>
<html lang="es">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="assets/img/schoolarmy.jpeg" />

    <!-- web title -->
    <title>HowToFp aka SchoolArmy</title>

</head>
<body class="bg-light">

    <!-- header -->
    <div class="container-fluid">
        {% include 'partials/header.twig' %}
    </div>

    

    <!-- footer -->
    <div class="container-fluid mt-auto">
        {% include 'partials/footer.twig' %}
    </div>

    <!-- javascript -->
    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>